<h2>Post your favorite comments from the internet!</h2>
<br>
<div ng-controller="LinksCtrl">
	<form>
		<input type="text"  placeholder="Search" ng-model="search">
	</form>

	<form ng-submit="addLink()">
		<input type="text" placeholder="Enter title" ng-model="newLink.title">
		<input type="text" placeholder="Enter url" ng-model="newLink.url">
		<input type="text" placeholder="Enter comment" ng-model="newLink.comment">
		<input type="submit" value="Add Link">
	</form>
	<br>

	

	<div id="scroller">
		<ul id="link">
			<li ng-repeat="link in links | filter:search">
				<div class="hide-{{link.hide}}">
					<%= link_to "{{link.title}}", url_with_protocol("{{link.url}}"), target: '_blank' %> 
					<br>
					<div bigger="panel" normal>{{link.comment}}</div>
					Hide: <input type="checkbox" ng-model="link.hide">
				</div>			
			</li>
		</ul>	
	</div>
<br>
	<button class="btn-large" ng-click="hideHidden()"><i class="icon-trash"></i>Hide</button>
	<button class="btn-large" ng-click="showHidden()"><i class="icon-trash"></i>Show</button>	
</div>