<h1>Links</h1>
<br>
<div ng-controller="LinksCtrl">
	<form>
		<input type="text"  placeholder="Search" ng-model="search">
	</form>
	<br>

	<form ng-submit="addLink()">
		<input type="text" placeholder="Enter title" ng-model="newLink.title">
		<br>
		<input type="text" placeholder="Enter url" ng-model="newLink.url">
		<br>
		<input type="text" placeholder="Enter comment" ng-model="newLink.comment">
		<br>
		<input type="submit" value="Add Link">
	</form>
	<br>

	<ul>
		<li ng-repeat="link in links | filter:search">
			<%= link_to "{{link.title}}", url_with_protocol("{{link.url}}"), target: '_blank' %>
			<br>
			<div bigger="panel" normal>{{link.comment}}</div>
		</li>
	</ul>
</div>